* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #bdc1c6;
    background: #202124;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: flex-end;
} 

.navbar .blocos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.navbar .blocos .bloco-item {
    padding: 0 13px;
}

.navbar .blocos .bloco-item a {
    text-decoration: none;
    color: #fff;
}

.navbar .blocos .bloco-item a:hover {
    text-decoration: underline;
    color: #fff;
}


.image-profile img{
    height: 42px;
    width: 42px;
    padding: 4px;
    border-radius: 20px;
}


.icon-apps i {
    font-size: 1.7rem;
    color: #bdc1c6;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-top: 49px;
}

.google-image {
    padding: 20px 0;
}

/* bar pesquisa */

.buscador {
    top: 100%;
    border: 1px solid #5f6368;
    border-radius: 23px;
}

.bar-pesquisa {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    width: 500px;
}

.buscador .bar-pesquisa:hover  {
    background-color: #303134;
    border-radius: 25px;
}

.bar-pesquisa input {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 3px;
    width: 95%;
    height: 34px;
    font-size: 16px;
    color: #e8eaed;

    outline: 0; /*demorei mas achei*/
}

.bar-pesquisa .form {
    width: 100%;
}

.bar-pesquisa input[type= text] {
    border: none;
}

.buscador i {
    padding: 0 13px 0 14px;
    color: #bdc1c6;
    display: flex;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* submit */

.submits {
    display: flex;
    margin-top: 25px;
}

.submits .submit-item {
    padding: 0 8px;
}

.submit-item input[type=button] {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}

.submit-item input[type=button]:hover {
    border: 1px solid #5f6368;
}

/* footer */

footer {
    background-color: #171717;
    width: 100%;
    height: 100%;
}

.pais {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #3c4043;
    padding: 15px 30px;
}

.pais p {
    font-size: 15px;
    color: #9aa0a6;
}

.footer .footer-infos ul {
    display: flex;
}

.footer .footer-infos ul li{
    display: block;
    align-items: center;
    padding: 15px;
}

.footer .footer-infos ul li a{
    text-decoration: none;
    display: block;
    color: #9aa0a6;
}

.footer .footer-infos ul li a:hover{
    text-decoration: underline;
}

.footer-infos .espacamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

@media (max-width: 576px) {
    .navbar .blocos .bloco-item {
        padding: 0 10px;
    }
    .container {
        height: 60vh;
    }
    .container .bar-pesquisa{
        width: 360px;
    }
    .submit-item input[type=button]{
        padding: 0 20px;
        height: 46px;
    }
    .footer .footer-infos ul {
        display: block;
    }
}